# Matches on any directory
*.diff
*.exe
*.mode1v3
*.orig
*.pbxuser
*.perspective
*.perspectivev3
*.swp
.DS_Store
nimcache
project.xcworkspace/
tags
xcuserdata/

# Full paths.
/.vimrc.local
/LICENSE.html
/README.html
/build/
/docindex.html
/docs/*.html
/interactive/seohyun
/interactive/seohyun.sqlite3
/logic/l_main
/nakefile
/resources/html/*.html
